@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --header-height: 70px;
  --footer-height: 65px;
  --primary-bg-color: #4064ac;
  --secondary-bg-color: #7D94A5;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Inter, Helvetica, sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--secondary-bg-color);
  /* position: fixed; */
  width: 100%;
  height: var(--header-height);
  /* z-index: 3; */
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 65px;
  height: 65px;
  background-image: url('./assets/icons/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: #67ECFB;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

img {width: 100%;
    height: 200px;}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

footer {
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: var(--footer-height);
  margin-top: auto;
}